# API connection
API_BASE_URL=http://localhost:9099
CREATOR_EMAIL=
CREATOR_PASSWORD=
ASSISTANT_ID=

# Simulation parameters
SIM_NUM_STUDENTS=20
SIM_DURATION_MINUTES=15
SIM_INTERVAL_MIN_S=25
SIM_INTERVAL_MAX_S=75
